





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body, html {
  height: 100%;
  background-color: #EDEFEE;
}
main {
  flex: 1;
}

a {
  text-decoration: none;
}  
p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
}
  
li {
  list-style-type: none;
}

h1 {
  font-size: 4rem;
  color: #F4CE14;
}
h2 {
  font-size: 1.7rem;
}


